# Dependencies
node_modules/
/dist

# Environment variables (CỰC KỲ QUAN TRỌNG)
.env
.env.local
.env.*
.env.production
.env.development

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Uploads (Chặn ảnh test local của Công)
uploads/*
!uploads/.gitkeep

# Firebase/Google Keys
*.json
!package.json
!package-lock.json